<article
  class="nl-card h-100"
  @click="openModal($event, {{ post.id }}, '{{ post.source_url | urlencode }}')"
  style="cursor: pointer;"
  tabindex="0"
  @keydown.enter.prevent="openModal($event, {{ post.id }}, '{{ post.source_url | urlencode }}')"
>
  <header class="nl-hd">
    {% if post.autor.foto_filename %}
    <img
      src="{{ url_for('static', filename='fotos_colaboradores/' + post.autor.foto_filename) }}"
      class="nl-avatar"
      alt="Foto de {{ post.autor.nome }}"
    />
    {% else %}
    <div
      class="nl-avatar d-flex justify-content-center align-items-center bg-secondary text-white"
    >
      <span>{{ post.autor.nome[0] }}{{ post.autor.sobrenome[0] }}</span>
    </div>
    {% endif %}
    <div>
      <h5>{{ post.autor.nome }} {{ post.autor.sobrenome }}</h5>
      <div class="nl-meta">
        {{ post.publicado_em.strftime('%d de %B de %Y') }}
      </div>
    </div>
  </header>

  <div class="nl-body">
    <h5>{{ post.titulo }}</h5>
    <p class="nl-content">{{ post.conteudo_md | striptags | truncate(280) }}</p>
  </div>

  <footer class="nl-ft">
    {% include 'partials/_news_post_footer.html' %}
  </footer>
</article>